# Correlating Returns

In [1]:
import os
import pandas as pd
from datetime import datetime, timedelta
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from newsapi.newsapi_client import NewsApiClient
from nltk.sentiment.vader import SentimentIntensityAnalyzer

## Load API Keys from Environment Variables

In [2]:
# Load .env enviroment variables
load_dotenv()

# Set News API Key
newsapi = NewsApiClient(api_key=os.environ["NEWS_API_KEY"])

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')

## Get AAPL Returns for Past Month

In [3]:
# Set the ticker
ticker = "AAPL"

# Set timeframe to '1D'
timeframe = "1D"

# Set current date and the date from one month ago using the ISO format
current_date = pd.Timestamp(datetime.now(), tz="America/New_York").isoformat()
past_date = pd.Timestamp(datetime.now()- timedelta(30), tz="America/New_York").isoformat()

# Get 4 weeks worth of historical data for AAPL
df = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=past_date,
    end=current_date,
    after=None,
    until=None,
).df

# Display data
df.head()

                             AAPL
                             open      high      low     close     volume
time
2021-05-03 00:00:00-04:00  132.01  134.0700  131.830  132.5563   67091433
2021-05-04 00:00:00-04:00  131.18  131.4899  126.700  127.9600  120921447
2021-05-05 00:00:00-04:00  129.21  130.4500  127.970  128.1600   75396509
2021-05-06 00:00:00-04:00  127.90  129.7500  127.130  129.7300   69126356
2021-05-07 00:00:00-04:00  130.84  131.2582  129.475  130.2000   67281343

In [4]:
# Drop Outer Table Level
df = df.droplevel(axis=1, level=0)

# Use the drop function to drop extra columns
df = df.drop(columns=["open", "high", "low", "volume"])

# Since this is daily data, we can keep only the date (remove the time) component of the data
df.index = df.index.date

# Display sample data
df.head()

               close
2021-05-03  132.5563
2021-05-04  127.9600
2021-05-05  128.1600
2021-05-06  129.7300
2021-05-07  130.2000

In [5]:
# Use the `pct_change` function to calculate daily returns of AAPL
aapl_returns = df.pct_change().dropna()

# Display sample data
aapl_returns.head()

               close
2021-05-04 -0.034674
2021-05-05  0.001563
2021-05-06  0.012250
2021-05-07  0.003623
2021-05-10 -0.025653

In [6]:
# Use newsapi client to get most relevant 20 headlines per day in the past month
def get_headlines(keyword):
    all_headlines = []
    all_dates = []    
    date = datetime.strptime(current_date[:10], "%Y-%m-%d")
    end_date = datetime.strptime(past_date[:10], "%Y-%m-%d")
    print(f"Fetching news about '{keyword}'")
    print("*" * 30)
    while date > end_date:
        print(f"retrieving news from: {date}")
        articles = newsapi.get_everything(
            q=keyword,
            from_param=str(date)[:10],
            to=str(date)[:10],
            language="en",
            sort_by="relevancy",
            page=1,
        )
        headlines = []
        for i in range(0, len(articles["articles"])):
            headlines.append(articles["articles"][i]["title"])
        all_headlines.append(headlines)
        all_dates.append(date)
        date = date - timedelta(days=1)
    return all_headlines, all_dates

Note: Be aware that running the 3 requests below will only work once within a 24 hour period due to the request limits imposed by the API provider.

In [7]:
# Get first topic
aapl_headlines, dates = get_headlines("apple")

Fetching news about 'apple'
******************************
retrieving news from: 2021-06-01 00:00:00
retrieving news from: 2021-05-31 00:00:00
retrieving news from: 2021-05-30 00:00:00
retrieving news from: 2021-05-29 00:00:00
retrieving news from: 2021-05-28 00:00:00
retrieving news from: 2021-05-27 00:00:00
retrieving news from: 2021-05-26 00:00:00
retrieving news from: 2021-05-25 00:00:00
retrieving news from: 2021-05-24 00:00:00
retrieving news from: 2021-05-23 00:00:00
retrieving news from: 2021-05-22 00:00:00
retrieving news from: 2021-05-21 00:00:00
retrieving news from: 2021-05-20 00:00:00
retrieving news from: 2021-05-19 00:00:00
retrieving news from: 2021-05-18 00:00:00
retrieving news from: 2021-05-17 00:00:00
retrieving news from: 2021-05-16 00:00:00
retrieving news from: 2021-05-15 00:00:00
retrieving news from: 2021-05-14 00:00:00
retrieving news from: 2021-05-13 00:00:00
retrieving news from: 2021-05-12 00:00:00
retrieving news from: 2021-05-11 00:00:00
retrieving news from: 2021-05-10 00:00:00
retrieving news from: 2021-05-09 00:00:00
retrieving news from: 2021-05-08 00:00:00
retrieving news from: 2021-05-07 00:00:00
retrieving news from: 2021-05-06 00:00:00
retrieving news from: 2021-05-05 00:00:00
retrieving news from: 2021-05-04 00:00:00
retrieving news from: 2021-05-03 00:00:00

In [8]:
# Get second topic
trade_headlines, _ = get_headlines("trade")

Fetching news about 'trade'
******************************
retrieving news from: 2021-06-01 00:00:00
retrieving news from: 2021-05-31 00:00:00
retrieving news from: 2021-05-30 00:00:00
retrieving news from: 2021-05-29 00:00:00
retrieving news from: 2021-05-28 00:00:00
retrieving news from: 2021-05-27 00:00:00
retrieving news from: 2021-05-26 00:00:00
retrieving news from: 2021-05-25 00:00:00
retrieving news from: 2021-05-24 00:00:00
retrieving news from: 2021-05-23 00:00:00
retrieving news from: 2021-05-22 00:00:00
retrieving news from: 2021-05-21 00:00:00
retrieving news from: 2021-05-20 00:00:00
retrieving news from: 2021-05-19 00:00:00
retrieving news from: 2021-05-18 00:00:00
retrieving news from: 2021-05-17 00:00:00
retrieving news from: 2021-05-16 00:00:00
retrieving news from: 2021-05-15 00:00:00
retrieving news from: 2021-05-14 00:00:00
retrieving news from: 2021-05-13 00:00:00
retrieving news from: 2021-05-12 00:00:00
retrieving news from: 2021-05-11 00:00:00
retrieving news from: 2021-05-10 00:00:00
retrieving news from: 2021-05-09 00:00:00
retrieving news from: 2021-05-08 00:00:00
retrieving news from: 2021-05-07 00:00:00
retrieving news from: 2021-05-06 00:00:00
retrieving news from: 2021-05-05 00:00:00
retrieving news from: 2021-05-04 00:00:00
retrieving news from: 2021-05-03 00:00:00

In [9]:
# Get third topic
economy_headlines, _ = get_headlines("economy")

Fetching news about 'economy'
******************************
retrieving news from: 2021-06-01 00:00:00
retrieving news from: 2021-05-31 00:00:00
retrieving news from: 2021-05-30 00:00:00
retrieving news from: 2021-05-29 00:00:00
retrieving news from: 2021-05-28 00:00:00
retrieving news from: 2021-05-27 00:00:00
retrieving news from: 2021-05-26 00:00:00
retrieving news from: 2021-05-25 00:00:00
retrieving news from: 2021-05-24 00:00:00
retrieving news from: 2021-05-23 00:00:00
retrieving news from: 2021-05-22 00:00:00
retrieving news from: 2021-05-21 00:00:00
retrieving news from: 2021-05-20 00:00:00
retrieving news from: 2021-05-19 00:00:00
retrieving news from: 2021-05-18 00:00:00
retrieving news from: 2021-05-17 00:00:00
retrieving news from: 2021-05-16 00:00:00
retrieving news from: 2021-05-15 00:00:00
retrieving news from: 2021-05-14 00:00:00
retrieving news from: 2021-05-13 00:00:00
retrieving news from: 2021-05-12 00:00:00
retrieving news from: 2021-05-11 00:00:00
retrieving news from: 2021-05-10 00:00:00
retrieving news from: 2021-05-09 00:00:00
retrieving news from: 2021-05-08 00:00:00
retrieving news from: 2021-05-07 00:00:00
retrieving news from: 2021-05-06 00:00:00
retrieving news from: 2021-05-05 00:00:00
retrieving news from: 2021-05-04 00:00:00
retrieving news from: 2021-05-03 00:00:00

In [10]:
# Instantiate SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

In [11]:
# Create function that computes average compound sentiment of headlines for each day
def headline_sentiment_summarizer_avg(headlines):
    sentiment = []
    for day in headlines:
        day_score = []
        for h in day:
            if h == None:
                continue
            else:
                day_score.append(sid.polarity_scores(h)["compound"])
        sentiment.append(sum(day_score) / len(day_score))
    return sentiment

In [12]:
# Get averages of each topics sentiment
aapl_avg = headline_sentiment_summarizer_avg(aapl_headlines)
trade_avg = headline_sentiment_summarizer_avg(trade_headlines)
economy_avg = headline_sentiment_summarizer_avg(economy_headlines)

In [13]:
# Combine Sentiment Averages into DataFrame
topic_sentiments = pd.DataFrame(
    {
        "aapl_avg": aapl_avg,
        "trade_avg": trade_avg,
        "economy_avg": economy_avg,
    }
)

In [14]:
# Set the index value of the sentiment averages DataFrame to be the series of dates.
topic_sentiments.index = pd.to_datetime(dates)

In [15]:
# Merge with AAPL returns
topic_sentiments = aapl_returns.join(topic_sentiments).dropna(how="any")

# Display data
display(topic_sentiments)

               close  aapl_avg  trade_avg  economy_avg
2021-05-04 -0.034674 -0.059090   0.027725     0.067940
2021-05-05  0.001563  0.030695   0.235545     0.070455
2021-05-06  0.012250  0.023745   0.087440     0.185910
2021-05-07  0.003623  0.043780   0.031275     0.126250
2021-05-10 -0.025653  0.054810   0.000210     0.077380
2021-05-11 -0.007962  0.174040   0.224295     0.137345
2021-05-12 -0.024076  0.047090  -0.029085    -0.065995
2021-05-13  0.017262  0.001220   0.036290    -0.084570
2021-05-14  0.019609  0.055005  -0.008860    -0.084060
2021-05-17 -0.008870  0.039880   0.012225    -0.013745
2021-05-18 -0.011167  0.034155   0.042350     0.184525
2021-05-19 -0.001282  0.072925   0.113970     0.022225
2021-05-20  0.021012  0.197010  -0.024540    -0.024755
2021-05-21 -0.014767  0.017100   0.078310     0.099140
2021-05-24  0.013314  0.167080  -0.071220     0.078570
2021-05-25 -0.001338 -0.037460   0.123550     0.128835
2021-05-26 -0.000630 -0.033165   0.036560     0.163740
2021-05-27 -0.011037  0.090925   0.002995     0.130005
2021-05-28 -0.006616 -0.070870  -0.011125    -0.033405
2021-06-01 -0.002568  0.190010   0.059925     0.105050

In [16]:
# Correlate the headlines' sentiment to returns
topic_sentiments.corr().style.background_gradient()